/* Generated with `eslint --init` and tweaked to fix issues that cropped up */
{
  "globals": {
    "describe": false,
    "it": false,
    "expect": false,
    "jest": false,
    "ReactDOM": false,
    "runs": false,
    "waitsFor": false,
    "chai": false,
    "sinon": false,
    "after": false,
    "before": false,
    "afterEach": false,
    "beforeEach": false
  }
}
