$grey-dark: #444;
$grey-dark-medium: #666;
$grey-medium-dark: #999;
$grey-medium: #aaa;
$grey-medium-light: #ddd;
$grey-light: #f1f1f1;
$white: #fff;

$teal-medium-dark: #53a0b3;
$teal-medium: #3daab7;
$teal-medium-light: #96c6d2;
$teal-light: #e1f2f4;

$blue-dark: #3c7dbd;
$blue-medium: #337ab7;
$blue-light: #d5e2f1;

$yellow-light: #fff5b5;
